# IDE files
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Container
/app/Containers/*/Tests/Tests/_output/*

# vendors
/node_modules
/vendor

# configurations
.env

# public and storage files
/public/hot
/public/storage
/public/api-rendered-markdowns/*
/public/api/
/public/uploads/

# storage
/storage/*.key
/storage/logs/laravel.log

/laradock*/
_ide_helper*.php
.phpstorm.meta.php
